#graph {
    width: 84%;
    padding-top: 10px;
}

.graphOuter {
    width: 8%;
}

#scrollFigure {
    padding-top: 10vh;
    transform: translate(-50%, 0%)
}

#graphContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80vh
}

figure {
    display: flex !important;
    align-items: center;
    flex-direction: row;
  }

#scroll {
    transform: translate(-40%, -20%);
    font-weight: 500;
}

.graphNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0 20px;
}

.dropdown-menu {
overflow-y: scroll;
max-height: 30vh;
}

#dropdown-basic {
    background-color: white !important;
    color: #555 !important;
    border-color: #555 !important;
    width: fit-content !important;
}

.dropdown-toggle:focus {
box-shadow: 0 0 0 0 !important;
}

.dropdown-item {
    width: fit-content !important;
    margin: 0;
}

.dropdown-menu.show {
    width: auto !important;
    min-width: 0
}

.dataPoint {
    max-width: 5px !important;
}

.dropdown {
    margin-bottom: 40px;
}

#backbutton, #backbutton:hover, #backbutton:visited {
    color: #000;
}

#backbuttonDiv {
    padding-top: 20px;
}

.teamLogo {
    padding: 10px 0 0 10px
}

.imageContainer {
    width: fit-content;
    height: 90%;
}

.recharts-surface {
    overflow: visible;
}

.graphImageNav { 
    height: 90%
}

.arrangementNav {
    height: 10%
}